.spotlight {
    text-align: center;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;    
    justify-content: center;
}

.spotlight .social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.social img {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

/* Animation */

.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-fill-mode: 2s;
    -webkit-animation-fill-mode: 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}