.project {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;  
  background-color: #f17537;
}

.working {
  height: 384px;
  width: 100%;
  display: inherit;
  flex-wrap: inherit;
  align-items: inherit;
  justify-content: inherit;
  background-color: #ffffff;
}

.container {
  display: inherit;
  flex-wrap: inherit;
  align-items: inherit;
  justify-content: inherit;
  max-width: 1024px;
  height: 100%;
}

.working .container img {
  max-height: 100%;
}

.working .container .message {
  height: 100%;
  display: inherit;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.message h1 {
  text-align: center;
  margin: 25px;
}

@media screen and (max-width: 768px) {
  .working .container .message {
    display: none;
  }

  .working .container img {
    max-width: 100%;
  }
}
